<md-content ng-controller="loginCtrl">
    <md-content class="page-login" ng-app="debateflowsapp" ng-controller="loginCtrl" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak">
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>Login Form</span></h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="Form">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="text" name="email" ng-model="email" placeholder="debater@example.com" required/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="password" placeholder="" required/>
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="login()">&nbsp Login &nbsp</md-button>
                </form>
            </md-card-content>
        </md-card>
    </md-content>
</md-content>
